@import url('https://fonts.googleapis.com/css2?family=Great+Vibes&display=swap');


body {
    background: rgb(186, 255, 254);
    max-width: 100%;
}

h2 {
    text-shadow: 0px .60px 0px rgb(0, 0, 0);
    font-family:"Great Vibes", cursive;
    font-size: 38px;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    text-align: center;
    height: 25px;
    text-decoration: underline;
}

header {
    position: relative;
    width: 1000px;
    margin-bottom: 25px;
    background: #fff;
    padding: 15px;
    border-radius: 3px;
    color: rgb(40, 228, 225); 
    left: 450px;
    box-shadow: 0px 0px 20px rgb(148, 148, 148);
}

#mainGift {
    position:relative ;
    width: 350px;
    height:350px;
    object-fit: fill;
    bottom: 215px;
    left: 500px;
    border-width:10px;
    border-radius: 3px;
    border: solid white;
    box-shadow: 0px 0 5px rgb(148, 148, 148);
}

#giftsFor{
    font-family: "Montserrat", sans-serif;
    position: relative;
    bottom: 700px;
    font-size: 25px;
    padding-top: 20px;
    object-fit: fill;
    left: 250px;
    color:rgb(40, 228, 225);
    list-style-type: none;
    width:150px;
    cursor: pointer; 
}

#giftsFor li{
    padding: 15px;
}

#giftsFor li:hover{
    background-color:rgb(255, 177, 31);
    color: white;
    width: 100px;
}

h3 {
    text-align: center;
    text-transform: uppercase;
    text-decoration: underline;
    color: black
}

#giftDisplay {
    position: relative;
    left:975px;
    bottom: 1200px;
    font-size: 20px;
    font-family: "Montserrat";
    width: 500px;
}

#nameGift {
    font-weight: 500;
    font-size: 55px;
    font-family: "Montserrat-black";
    text-transform: uppercase;
    color: rgb(0, 0, 0);
    text-decoration: underline;
}

#middleBox {
    position: absolute;
    width: 1010px;
    padding: 10px;
    border: 5px solid, white solid;
    margin: 0;
    background-color: #fff;
    height: 1250px;
    left: 458px;
    top:70px;
    border-radius: 5px;
    box-shadow: 0px 0px 15px rgb(125, 125, 125);
}

#leftBox {
    position: absolute;
    width: 230px;
    padding: 10px;
    border: 5px solid, white solid;
    margin: 0;
    background-color: #fff;
    height: 1250px;
    left: 200px;
    top:70px;
    border-radius: 5px;
    box-shadow: 0px 0px 15px rgb(160, 160, 160);
}

#iWantMoreGifts {
    position: relative;
    box-shadow: 0px 0px 5px rgb(182, 182, 182);
    text-align: center;
    border-radius: 5px;
    background: white;
    top: 650px;
    width: 600px;
    left: 680px;
    font-family: "Montserrat", sans-serif;
}

#checkOrder{
    top: 0;
    left: 0;
    height: 25px;
    width: 25px;
    background-color: rgb(255, 255, 255);
}

#finalSubmit{
    color: rgb(0, 0, 0);
    padding: 9px 25px;
    background-color: rgb(186, 255, 254);
    border: none;
    border-radius: 50px;
    cursor: pointer;
    /* transition: all 0.3s ease 0s;    */
}

#finalSubmit:hover {
    background: rgb(255, 177, 31);
    color: white;
    transform: translate(2px, 1px);
    box-shadow: 3px 5px 5px grey;
    transition: 0.2s
}

#linkGift {
    color: rgb(0, 0, 0);
    padding: 9px 25px;
    background-color: rgb(186, 255, 254);
    border: none;
    border-radius: 50px;
    cursor: pointer;
}

#linkGift:hover {
    background: rgb(255, 177, 31);
    color: white;
    transform: translate(2px, 1px);
    box-shadow: 3px 5px 5px grey;
    transition: 0.2s
}

#checkOrder {
    color: rgb(0, 0, 0);
    padding: 9px 25px;
    background-color: rgb(186, 255, 254);
    border: none;
    border-radius: 50px;
    cursor: pointer;
}

